.toggle-container * {
  transition: all 0.3s ease-in-out;
}

.toggle-container {
    position: fixed;
    top: 12vh;
    right: 1vw;
    z-index: 2;
}

.toggle-check {
    display: none;
}

.display {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-label {
    width: 100px;
    height: 50px;
    border-radius: 999px;
    background: #f3f3f3;
    box-shadow: 2.5px 2.5px 7.5px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
}

.toggle-circle {
    width: 40px;
    height: 40px;
    border-radius: 99px;
    background: var(--dark-text-color);
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.05),
    -2.5px -2.5px 7.5px rgba(0, 0, 0, 0.05) inset;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun-icon {
    color: #FFD600;
    margin-top: 0%;
    opacity: 1;
    overflow: visible;
    transform: translateX(23px);
}

.moon-icon {
    margin-top: -75%;
    color: var(--dark-text-color);
    opacity: 0;
    overflow: visible;
    transform: translateX(-15px);
}
/* 
input[type=checkbox]:checked + .display {
    background: #2C2C2F;
} */
input[type=checkbox]:checked + .display label {
    background: #1F1F21;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
}
input[type=checkbox]:checked + .display label .toggle-circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background: #2C2C2F;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5),
    -2.5px -2.5px 7.5px rgba(0, 0, 0, 0.5) inset;
}
input[type=checkbox]:checked + .display label .toggle-circle .sun-icon {
    margin-top: 150%;
    opacity: 0;
}
input[type=checkbox]:checked + .display label .toggle-circle .moon-icon {
    margin-top: 0%;
    opacity: 1;
}
label:active .toogle-circle {
    width: 50px;
}

@media (max-width: 600px) {
    .toggle-container {
        top: 12vh;
    }

    .display {
        width: 80px;
    }

    .toggle-label {
        width: 80px;
        height: 40px;
    }

    .toggle-circle {
        width: 30px;
        height: 30px;
    }

    .sun-icon {
        transform: translateX(18px);
    }

    .moon-icon {
        transform: translateX(-12px);
    }

}
